.ipynb_checkpoints
.gitignore
..gitignore.un~
.README.md.un~
.gitignore~
README.md~
*__pycache__
code_for_jetson_nano/frame.jpg
code_for_jetson_nano/mask_green.jpg
code_for_jetson_nano/mask_orange.jpg
